{% extends "AppPitDog/sidebar.html" %}

{% block content %}
    <div class="content">
        <h2>Seu Carrinho</h2>

        {% if itens %}
        <ul>
            {% for item in itens %}
            <li>
                {{ item.prato.name }} ({{ item.quantidade }}x) - R$ {{ item.total_item }}
                <a href="{% url 'remover_do_carrinho' item.id %}">Remover</a>
            </li>
            {% endfor %}
        </ul>
    
        <p><strong>Total:</strong> R$ {{ total }}</p>
        {% if itens %}
            <a href="{% url 'finalizar_pedido' %}" class="btn btn-success">Finalizar Pedido</a>
        {% endif %}

        {% else %}
        <p>O carrinho está vazio.</p>
        {% endif %}
    </div>

{% endblock content %}


